<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS File</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <h2>Ejs File # 0<%= .5 + .5 %> </h2>

    <script type="module" src="/javascripts/script.js"></script>
</body>
</html>