<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit File</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    
    <div class="main show-container min-h-screen text-white w-full bg-zinc-900 p-5">
        <a href="/">
            Go Back to Home Page 
        </a>

        <form action="" method="post" class="flex flex-col gap-5">
            <input type="text" class="w-[30%]  rounded-md px-2 text-white py-2" placeholder="Previous task" name="previous"></input>
            <input type="text" class="w-[30%] rounded-md  px-2  block py-2" id="taskInput" placeholder="Your Prevuious File Name" name="new">
            <button type="submit">
                Save Changes
            </button>
        </form>

    </div>

</body>
</html>