<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Project</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
        <div class="main min-h-screen w-full bg-zinc-900">
            <div class="form px-4">
                <form action="/create" method="post" class="flex flex-col gap-5" >
                    <input type="text" class="w-[30%] rounded-md mt-4 px-2 block py-2" id="taskInput" placeholder="Enter a task..." name="TaskName" >
                    <textarea class="w-[30%] rounded-md block px-2 py-2 " placeholder="Add task description" name="TaskDetail"></textarea>
                    <input type="submit" class="w-[30%] p-1 rounded-md text-xl text-white bg-blue-600" value="create task"></input>
                </form>
            </div>
            <div class="tasks px-4 text-white flex gap-7 mt-9">
                <% if (owais.length >0) { %> 
                    
                    <% owais.forEach(file => { %>
                        
                        <div class="task w-72 mt-4 px-4 py-4 rounded-md bg-zinc-800" >
                            <h2>
                                <%= file %>    
                            </h2>

                            <div class="py-1 mt-4 mb-2 rounded-xl text-1xl ">
                                <div class="flex w-full justify-between" >
                                    <a class="bg-zinc-600 px-2 py-1 rounded-md" href= "/files/<%= file %>">
                                        Read more ...
                                    </a>
                                    <a  class="bg-zinc-600 px-2 py-1 rounded-md" href= "/edit/<%= file %>">
                                        Edit 
                                    </a>
                                </div>
                            </div>                            

                        </div>
                                
                        <% }) %>
                    
                    <% } else { %>
                        <h3 class="bg-zinc-800 p-3 rounded-md">
                           No tasks yet
                       </h3>
                    <% } %>
                    
                </div>
        </div>

</body>
</html>