<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show File Data</title>

</head>
<body>
    
    <div class="main show-container min-h-screen w-full bg-zinc-900 p-5">
        <a href="/">
            Go Back to Home Page 
        </a>
        <h2>
            <%= fileKaNaam %>
        </h2>        
        <p>
            <%= fileData %>
        </p>
    </div>

</body>
</html>